.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  position: relative;
  width: 30%;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-height: 80%;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.closeButton:hover {
  color: #000;
}

.modalHeading {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.8rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 0.5rem;
}

.input,
.textarea {
  font-size: 0.8rem;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.input:focus,
.textarea:focus {
  border-color: #007bff;
}

.textarea {
  height: 100px;
  resize: none;
}

.saveButton {
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  background-image: linear-gradient(
    to bottom right,
    rgb(212, 82, 255),
    rgb(26, 0, 142)
  );
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}
